@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  background: url('gradient.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {
  padding: 5em;
}

h1.title,
p.subtitle {
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  color: #ff4f4f;
}

h1,
.logo {
  font-family: 'Comfortaa', sans-serif;
}

.box,
.full-width {
  background-color: white;
}
